* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.container>.product-item {
    width: 25%;
    text-align: center;
    background-color: white;
    
}